<?xml version="1.0" encoding="utf-8"?><configuration><system.webServer><rewrite><rules>
  <rule name="HTTP to HTTPS" stopProcessing="true"><match url="(.*)"/><conditions><add input="{HTTPS}" pattern="^OFF$" ignoreCase="true"/></conditions><action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/></rule>
  <rule name="Fix 1th ordinal" stopProcessing="true"><match url="^(.*)-1th-(.*)"/><action type="Redirect" url="/{R:1}-1st-{R:2}" redirectType="Permanent"/></rule>
  <rule name="Fix 2th ordinal" stopProcessing="true"><match url="^(.*)-2th-(.*)"/><action type="Redirect" url="/{R:1}-2nd-{R:2}" redirectType="Permanent"/></rule>
  <rule name="Fix 3th ordinal" stopProcessing="true"><match url="^(.*)-3th-(.*)"/><action type="Redirect" url="/{R:1}-3rd-{R:2}" redirectType="Permanent"/></rule>
  <rule name="Angular Routes" stopProcessing="true"><match url=".*" /><conditions logicalGrouping="MatchAll"><add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" /><add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /></conditions><action type="Rewrite" url="/index.html" /></rule></rules></rewrite><staticContent><remove fileExtension=".json" /><mimeMap fileExtension=".json" mimeType="application/json" /><remove fileExtension=".woff2" /><mimeMap fileExtension=".woff2" mimeType="font/woff2" /></staticContent></system.webServer></configuration>
