################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/astroai-ui/package-lock.json
/server/.vs/AstroAI
